#tabmenu{
    padding: 0px;
    margin: auto;
    color: #333;
    font-size: 11px;
    width: 500px;
    position: relative;
}
#tabmenu div#tab{
    position: absolute;
    top: 0px;
    left: 0px;
}
#tabmenu div#tab a{
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #333;
    background: #eee;
}
#tabmenu div#tab a:hover{
    background: #000;
    color: #fff;
}
div#tab_contents{
    width: 500px;
    overflow: hidden;
    clear: both;
    text-align: center;
}
div#tab_contents ul{
    width: 2500px;
    padding: 0px;
    margin: 0px;
}
div#tab_contents ul li{
    float: left;
    width: 460px;
    list-style-type: none;
    padding: 60px  20px  20px 20px;
    background: #e2e2e2;
}

ul {
  list-style:none;
}

/* モーダルウィンドウ用 */
.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    height: 500px;
    width:820px;
    margin:0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
}

.modal-content p {
    margin:0;
    padding:0;
}

.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.modal-open {
    color:#00f;
    text-decoration:underline;
}

.modal-open:hover {
    cursor:pointer;
    color:#f00;
}

.modal-close {
    color:#00f;
    text-decoration:underline;
}

.modal-close:hover {
    cursor:pointer;
    color:#f00;
}

/* object要素 */
.object-target {
    height: 490px;
    overflow-y: scroll;
}

.object-target object {
    width: 100%;
}